html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background_light.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px) brightness(0.7);
    z-index: -1;
}

.aplikacije {
    position: absolute;
    top: 20px;
    /* Adjust top position */
    left: 20px;
    /* Adjust left position */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
}

.pinterest, .twitter, .instagram, .youtube {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    outline: 2px solid white;
    margin: 0 5px;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
    text-decoration: none;
}

.pinterest:hover, .twitter:hover, .instagram:hover, .youtube:hover {
    outline-offset: 4px;
}

.pinterest:hover i, .twitter:hover i, .instagram:hover i, .youtube:hover i {
    animation: shake .25s;
}

.pinterest:hover {
    background-color: #E60023;
    outline-color: #aa061f;
}

.twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.instagram:hover {
    background-image:
        radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d62497 60%, #285AEB 90%);
    outline-color: #a02d76;
}

.youtube:hover {
    background-color: #FF0000;
    outline-color: #ee0202;
}

.wrap {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    height: 286px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    background-color: #fdd88a;
    border: 10px solid #e2793f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.back {
    align-self: flex-start;
    width: 23px;
    background-color: #823f2c;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back:hover {
    background-color: #391b13;
}

span {
    color: #830000;
}

input {
    border: none;
    background-color: #b2583f;
    block-size: 27px;
    width: 323px;
    height: 20px;
    border-radius: 12px;
    color: #391b13;
}

label {
    color: #391b13;
    font-size: 16px;
    padding-top: 8px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

input::placeholder {
    color: #3e1919;
    opacity: 1;
}

input:focus {
    outline: none;
    background-color: #b8614956;
    box-shadow: gray;
    box-shadow: 4px 4px 9px #000000;
}

p, .create{
    color: #391b13;
    text-decoration: none;
}

.create:hover{
    color: #a44d35
}

#alertButton {
    display: inline-block;
    background-color: #823f2c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    font-size: 15px;
    width: 75%;
    height: 25px;
}

#alertButton:hover {
    background-color: #391b13;
}

.theme-toggle {
    position: fixed;
    width: 123px;
    height: 56px;
    bottom: 3%;
    right: 1.5%;
    background-color: #fdd88a;
    color: #2b1611;
    border: 5px solid #e2793f;
    border-radius: 12px;
    font-size: 14px;
}

.theme-toggle:hover {
    background-color: #e2793f;
    color: #7a3d2c;
}

/*Sweet Alert:*/


/* Custom Popup Box */
.custom-swal-popup {
    background-color: #fdd88a; /* Change background color */
    border-radius: 15px; /* Rounded corners */
    border: 12px solid #b1543a; /* Add border */
    padding: 20px;
}

/* Custom Title */
.custom-swal-title {
    font-size: 24px; /* Bigger font size */
    font-weight: bold;
    color: #391b13; /* Custom text color */
}

/* Custom Text */
.custom-swal-text {
    font-size: 18px; /* Adjust font size */
    color: #391b13; /* Custom text color */
}

/* Custom Confirm Button */
.custom-swal-confirm-button {
    background-color: #823f2c; /* Custom button background */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Custom Confirm Button Hover */
.custom-swal-confirm-button:hover {
    background-color: #391b13; /* Darker shade on hover */
}

/* Custom Popup Box for Error */
.custom-swal-popup-error {
    background-color: #fdd88a; /* Light red background */
    border-radius: 12px; /* Rounded corners */
    border: 10px solid #b1543a; /* Red border */
    padding: 20px;
}

/* Custom Title for Error */
.custom-swal-title-error {
    font-size: 24px;
    font-weight: bold;
    color: #391b13; /* Red color for error */
}

div#swal2-html-container {
    color: #391b13;
}

/* Custom Text for Error */
.custom-swal-text-error {
    font-size: 18px;
    color: #391b13; /* Red color for error text */
}

/* Custom Confirm Button for Error */
.custom-swal-confirm-button-error {
    background-color: #823f2c; /* Red button background */
    color: white; /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Custom Confirm Button Hover for Error */
.custom-swal-confirm-button-error:hover {
    background-color: #391b13; /* Darker red on hover */
}
